/* General styles */
h1, #timer-display {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: black;
    font-weight: 200;
}

button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

#start-btn {
    background-color: rgb(35, 240, 35);
}

#stop-btn {
    background-color: rgb(250, 75, 75);
}

#reset-btn {
    background-color: rgb(236, 230, 230);
    color: black;
}

#short-break-btn {
    background-color: rgb(11, 228, 240);
}

#long-break-btn {
    background-color: rgb(224, 50, 175);
}

/* Timer container */
.timer-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Controls and mode selection */
.controls, .mode-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    #timer-display {
        font-size: 40px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    #timer-display {
        font-size: 30px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .timer-container {
        padding: 15px;
    }
}
